@let repo=repository();
@if (repo.hasValue()) {
  <div class="gap-4 p-8">
    <div class="text-center text-3xl text-shadow-md">
      Dont-code Application Generator !
    </div>
      @let repoConfig = repo.value();
    <div class="text-center text-2xl">
      For {{repoConfig.name}}
    </div>
    <div class="text-center text-xl italic">
      {{repoConfig.description}}
    </div>

  </div>
  <div class="gap-4 p-8">
    @for (item of dialog.dialogSession(); track item.id) {
      @if (item.isQuestion) {
        <mat-form-field class="dialog-old-question gap-4 p-8">
          <textarea matInput disabled [value]="item.text"></textarea>
        </mat-form-field>
      } @else if (item.errorMessage!=null)
      {
        <mat-form-field class="dialog-old-response error  gap-4 p-8">
          <mat-icon matPrefix>warning</mat-icon>
          <textarea matInput disabled [value]="item.errorMessage"></textarea>
        </mat-form-field>
      } @else {
        <mat-form-field class="dialog-old-response  gap-4 p-8">
          <textarea matInput disabled [value]="item.text"></textarea>
        </mat-form-field>
      }
    }
    <form class="dialog-form" (ngSubmit)="addQuestion()">
      <mat-form-field class="dialog-full-width  gap-4 p-8" appearance="fill">
        <mat-label>Describe the application you need</mat-label>
        <textarea matInput type="text" name="question" [(ngModel)]="currentQuestion" rows="4"></textarea>
        <button
          matIconButton
          matSuffix
          type="submit"
        ><mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-form-field>
    </form>

  </div>
}
